@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
  display: flex;
  width: 200%;
  animation: bannermove 50s linear infinite;
}

@keyframes bannermove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: rgb(0 0 0 / 56%) 0px 3px 12px;
  }
}
